/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.main{
  background-color: #95FDFF;
}
.description{
  border-style: dashed;
  border: 5px dashed black;
}
